.back-ground {
  min-height: 100vh;
  background-color:rgba(82, 82, 189, 0.397);
}

.brd {
  border: 4px double black; 
  background::rgba(82, 82, 179, 0.97);
  padding: 10px;
}

.table-color {
  background-color:rgb(0,0,0);
  color:#008000;
}